#Database (supabase provides both)
DATABASE_URL = "postgresql://user:possword@host:port/database?pgbouncer=true"
DIRECT_URL = "postgresql://user:possword@host:port/database"

#NextAuth
NEXTAUTH_URL = "http;//localhost:3000"
NEXTAUTH_SECRET = "...."